  <div class="row">
    <div class="col-md-4">

    <table class="text-center bg-light">


      <tbody>
        <% if @user == current_user %>

        <tr>
          <td class="p-3">
          <% if current_user.image? %>
          <%= image_tag current_user.image.icon.url,class: "rounded-circle" %>
          <% else %>
          <%= image_tag 'no_image.jpeg', size: '100x100',class: "rounded-circle" %>
          <% end %>
          </td>
        </tr>
        <tr>
          <td><%= current_user.nickname %></td>
        </tr>
        <tr>
          <td>
            <div class="d-flex justify-content-center my-4">
              <div>
              投稿数<br>
              <%= current_user.posts.count %>
              </div>
            <div class="px-4">
              フォロー<br>
              <%= current_user.followings.count %>
            </div>
            <div>
              フォロワー<br>
              <%= current_user.followers.count %>
            </div>

            </div>

          </td>
        </tr>
        <tr>
          <td class="text-left"><%= current_user.introduction %></td>
        </tr>
        <tr>
          <td>
            <%= link_to edit_user_registration_path,class: "btn btn-dark text-decoration-none mt-3" do %>
            <div class="text-light"><i class="fa-solid fa-user-gear"></i>プロフィールの編集</div>
            <% end %>
          </td>
        </tr>
        <% else %>

        <tr>
          <td class="p-3">
          <% if user.image? %>
          <%= image_tag user.image.icon.url, size: '100x100',class: "rounded-circle" %>
          <% else %>
          <%= image_tag 'no_image.jpeg', size: '100x100',class: "rounded-circle" %>
          <% end %>
          </td>
        </tr>
       <tr>
          <td><%= user.nickname %></td>
        </tr>
        <tr>
          <td>
            <div class="d-flex justify-content-center my-4">
              <div>
              投稿数<br>
              <%= user.posts.count %>
              </div>
            <div class="px-4">
              フォロー<br>
              <%= user.followings.count %>
            </div>
            <div>
              フォロワー<br>
              <%= user.followers.count %>
            </div>

            </div>

          </td>
        </tr>
        <tr>
          <td><%= user.introduction %></td>
        </tr>
        <tr>
          <td class="p3">
            <% if current_user.following?(user) %>
              <%= link_to user_relationships_path(user.id),class: "btn btn-dark text-decoration-none mt-3", method: :delete do %>
              <div class="text-light"><i class="fa-regular fa-face-sad-tear"></i>フォローを外す</div>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(user.id),class: "btn btn-dark text-decoration-none mt-3", method: :post do %>
              <div class="text-light"><i class="fa-regular fa-face-grin-wink"></i>フォローする</div>
              <% end %>
            <% end %>
          </td>
        </tr>

        <% end %>
        </tr>
      </tbody>
    </table>

  </div>