<div class="row m-3">
  <%= render 'posts/sidebar', tag_list: @tag_list %>
  <div class="col-md-8">

  <% if @range == "User" %>
    <h2>ユーザー検索結果</h2>
  <% else %>
    <h2>投稿検索結果</h2>
  <% end %>

<% if @range == "User" %>
  <% @users.each do |user| %>
  <%= link_to user_path(user.id), class: "text-dark text-decoration-none" do %>
    <div class="border shadow mb-2 col-md-12 py-3">
      <%= user.nickname %>
    </div>
  <% end %>
  <% end %>
  <%= paginate @users %>
<% else %>
  <% @posts.each do |post| %>
  <%= link_to post_path(post.id), class: "text-dark text-decoration-none" do %>
    <div class="border shadow mb-2 col-md-12">
      <h4><%= post.title %></h4>
      <i class="fas fa-tag"></i><%= post.tags.map(&:name).join(',') %>
      <div>
      <span class="right text-secondary"><i class="fa-solid fa-comment"></i><%= post.comments.count %> 投稿日:<%= l post.created_at %></span>
      <span class="left text-danger mr-1"><i class="fa-solid fa-heart"></i></span><%= post.favorites.count %>
      </div>
    </div>
  <% end %>
  <% end %>
    <%= paginate @posts %>
<% end %>

</div>

</div>
