<div class="container mt-3">
<h1>投稿詳細</h1>

<div>
  <% if @post.image? %>
  <%= image_tag @post.image.show.url %><br>
  <% end %>
  <%= @post.title %><br>
  <%= @post.body %><br>
  <% @post_tags.each do |tag| %>
    <%= link_to tag.name, tag_posts_path(tag_id: tag.id) %>
    <%= "(#{tag.posts.count})" %>
  <% end %>
  <% if user_signed_in? %>
  <% if @post.user_id == current_user.id %>
  <%= link_to "編集する", edit_post_path(@post.id) %>
  <%= link_to "削除する", post_path, method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <% end %>
  <% end %>
</div>

<div class="container mt-5">
  <p class="font-weight-bold">コメント件数:<%= @post.comments.count %>件</p>

  <% if @post.comments.present? %>
    <% @post.comments.each do |comment| %>
      <p><span class="font-weight-bold text-success"><%= comment.user.nickname %></span> <%= l comment.created_at %></p>
      <p class="offset-md-1"><%= comment.comment_content %></p>
      <% if comment.user == current_user %>
        <div class="btn btn-denger">
          <p><%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: { confirm: '本当に削除しますか？' } %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
  <span class="font-weight-bold">コメントはありません</span>
  <% end %>
</div>

<% if user_signed_in? %>
<div>
  <%= form_with model: [@post, @comment], local: true do |f| %>
    <%= f.text_area :comment_content, placeholder: "コメントをここに書いて議論を始めよう！" %>
    <%= f.submit "送信" %>
  <% end %>
</div>
<% end %>

</div>