<div class="row m-3">

  <%= render 'posts/sidebar', tag_list: @tag_list %>

<div class="col-md-7">

<div class="bg-light">

<h2 class="border-bottom"><%= @post.title %></h2>
<div class="text-end">
  <p>
    投稿者： <%= link_to user_path(@post.user.id), class: "text-decoration-none" do %>
      <%= @post.user.nickname %>
    <% end %>
  </p>
</div>

<div class="offset-md-1">

  <% if @post.image? %>
  <%= image_tag @post.image.show.url %><br>
  <% end %>
</div>

<% if user_signed_in? %>
<div>
<!--いいね-->
  <div id="favorite_button_<%= @post.id %>">
    <%= render "favorites/favorite", post: @post %>
  </div>

<!--ブックマーク-->
  <div id="bookmark_botton_<%= @post.id %>">
    <%= render "bookmarks/bookmark", post: @post %>
  </div>
</div><br>
<% end %>

  <h5 class="text-dark"><%= simple_format(@post.body) %></h5><br>
  <% @post_tags.each do |tag| %>
    <i class="fas fa-tag"></i><%= link_to tag.name, tag_posts_path(tag_id: tag.id) %>
    <%= "(#{tag.posts.count})" %>
  <% end %>
</div>
  <!--投稿のシェアボタン-->
  <div class="text-end">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <%= render "comments/comment", post: @post, comments: @comments,comment: @comment %>


</div>

<div class="col-md-2">
  <% if user_signed_in? %>
  <% if @post.user_id == current_user.id %>
  <div>
  <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-secondary text-light" %>
  <%= link_to "削除する", post_path, method: :delete, class: "btn btn-secondary text-light", data: { confirm: '本当に削除しますか？' } %>
  </div>
  <% end %>
  <% end %>
</div>

