<header class="border">
  <nav class="navbar">
    <div class="ml-5">
      <nav class="nav navbar-nav navbar-left">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', size: "100x100",class: "rounded-circle" %>
        <% end %>
      </nav>
    </div>

    <div class="nav navbar-nav navbar-right">
      <ul>
        <% if user_signed_in? %>
        <!--ログインしている時-->

        <div class="btn">
          <%= link_to posts_path, class: "nav-link text-dark" do %>
          <i class="fa-solid fa-clipboard"></i>投稿一覧
          <% end %>
        </div>

        <div class="btn">
          <%= link_to new_post_path, class: "nav-link text-dark" do %>
          <i class="fa-solid fa-pen-to-square"></i>投稿する
          <% end %>
        </div>

        <div class="btn">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark" do %>
          <i class="fa-solid fa-chess-queen"></i>ログアウト
          <% end %>
        </div>

        <% else %>
        <!--ログインしていない時-->

        <div class="btn">
          <%= link_to posts_path, class: "nav-link text-dark" do %>
          <i class="fa-regular fa-clipboard"></i>投稿一覧
          <% end %>
        </div>

        <div class="btn">
          <%= link_to new_user_session_path,class: "nav-link text-dark" do %>
          <i class="fa-regular fa-chess-queen"></i>ログイン
          <% end %>
        </div>
        <div class="btn">
          <%= link_to new_user_registration_path,class: "nav-link text-dark" do %>
          <i class="fa-regular fa-chess-king"></i>会員登録
          <% end %>
        </div>

        <% end %>
      </ul>
    </div>


  </nav>
</header>